<div class="row">      
  <div class="small-1 columns">
    <%= f.check_box :estado, :label => "Activo?" %>
  </div>
  <div class="small-2 columns">
    <%= f.text_field :codigo %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :nombre %>
  </div>
  <div class="small-2 columns">
    <%= f.text_area :desc %>
  </div>
  <div class="small-1 columns">
    <%= f.hidden_field :_destroy %>
    <h4 style='text-align:center'>
      <%= link_to "O", '', class: "simil_agrega_campos", remote: true %>
      <%= link_to "X", '', class: "quitar_campos", remote: true %>
    </h4>
  </div>
</div>