<% f.errores %>
<div class="row">
  <div class="small-4 columns">
    <%= f.text_field :codigo %>
  </div>
  <div class="small-4 columns">
    <%= f.text_field :nombre %>
  </div>
  
  <div class="small-4 columns">
    <%= f.collection_select :cuentatipo_id, Rco::Cuentatipo.all, :id,
     :nombre, {}, {label: "Tipo"}%>
  </div>
</div>
<div class="row">

  <div class="small-8 columns">
    <%= f.text_area :desc %>
  </div>
  <div class="small-4 columns">
    <%= f.check_box :estado, label: "Activo?" %>
  </div>
</div>