<% f.errores %>
<div class="row">
  <div class="small-3 columns">
    <%= f.text_field :codigo %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :nombre %>
  </div>
  
  <div class="small-3 columns">
   <%= f.select :cuentatipo_id, Rco::Cuentatipo.all.map {|c| [c.nombre, c.id, {data: {codigo: c.codigo}}]}, {}, {label: "Tipo"} %>
  </div>
  <div class="small-3 columns organizacion_div">
    <%= f.collection_select :organizacion_id, Rba::Organizacion.deEmpresaGrupoXId(@rco_cuenta.empresagrupo_id), :id,
     :nombre, {}, {label: "Organizacion"}%>
  </div>
</
</div>
<div class="row">

  <div class="small-8 columns">
    <%= f.text_area :desc %>
  </div>
  <div class="small-4 columns">
    <%= f.check_box :estado, label: "Activo?" %>
  </div>
</div>