<div class="row">
	<div class="small-3 columns">
		<%= f.text_field :debe, sinEtiqueta: true %>
	</div>
	<div class="small-3 columns">
		<%= f.text_field :haber, sinEtiqueta: true %>
	</div>
	<div class="small-5 columns">
		<%= f.text_field :desc, sinEtiqueta: true %>
	</div>
	<div class="small-1 columns">
	<%= f.hidden_field :_destroy %>
	<H4 style='text-align:center'><%= link_to "X", '#', class: "quitar_campos" %></H4>
	 
	</div>

</div>