<div class="row">
<div class="small-3 columns">
		<%= f.collection_select :cuenta_id, Rco::Cuenta.includes(:cuentatipo).order('rco_cuentatipos.codigo asc'),
		:id, :nombre, {}, {sinEtiqueta: true, class: 'cuenta'} %>
	</div>
	<div class="small-2 columns">
		<%= f.text_field :debe_op, sinEtiqueta: true, class: 'debe', placeholder: 'debe'  %>
	</div>
	<div class="small-2 columns">
		<%= f.text_field :haber_op, sinEtiqueta: true, class: 'haber', placeholder: 'haber' %>
	</div>
	
	<div class="fechaClass small-2 columns">
		<%= f.date_select :fecha, {sinEtiqueta: true, class: 'fecha'}%>
	</div>
	<div class="small-2 columns">
		<%= f.text_field :desc, sinEtiqueta: true %>
	</div>
	<div class="small-1 columns">
	<%= f.hidden_field :_destroy %>
	<h4 style='text-align:center'>
	<%= link_to "O", '#', class: "simil_agrega_campos", remote: true %>
	<%= link_to "X", '', class: "quitar_campos", remote: true %>
	</h4>
	 
	</div>

</div>