$('#rga_registro_origestado_id').empty();
$('#rga_registro_origcategoria_id').empty();
$('#rga_registro_destcategoria_id').empty();
<% @orig_estados.each do |orig_estados| %>
$('#rga_registro_origestado_id').append('<option id= <%=orig_estados.id%> >'+
	'<%= orig_estados.nombre %></option>');
<% end %>
<% @categorias.each do |categoria| %>
$('#rga_registro_origcategoria_id').append('<option id= <%=categoria.id%> >'+
	'<%= categoria.nombre %></option>');
$('#rga_registro_destcategoria_id').append('<option id= <%=categoria.id%> >'+
	'<%= categoria.nombre %></option>');

<% end %>
$('#rga_registro_origestado_id,#rga_registro_origcategoria_id,#rga_registro_destcategoria_id').trigger("chosen:updated");