<input id="esForm" type="hidden" value=true />
<%= form_for @rba_empresagrupo, builder: EstandarFormBuilder do |f| %>

<%= f.errores %>

<div class="row collapse">
  <div class="panel">
    <div class="small-4 columns">    
      <%= f.text_field :codigo, :tabindex => 1 %>
    </div>

    <div class="small-4 columns">
      <%= f.text_field :nombre, :tabindex => 2 %>
    </div>
    
    <div class="small-4 columns">
      <%= f.text_field :desc, :tabindex => 3 %>
    </div>
    
   
    <%= f.submit %>
  
  </div>

</div>

<% end %>