<input id="esForm" type="hidden" value=true />
<div class="row">
  <div class="panel">
    <%= form_tag actualizar_multiples_rba_empresagrupos_path, method: :put do %>
    <% @rba_empresagrupos.each do |rba_empresagrupo| %>

    <div class="row">
    <h3>Grupo: <%= rba_empresagrupo.nombre.upcase %></h3>
<div class="panel">
<%= fields_for "rba_empresagrupos[]", rba_empresagrupo, builder: EstandarFormBuilder do |f| %>
<%= render 'form_fields', f:f %>
<% end %>
</div>
</div>
<% end %>
<div class="row">
<div class="small-12 columns">
<%= submit_tag "Actualizar", :class => 'button tiny boton_largo' %>
</div>
</div>
<% end %>
</div>
</div>