<input id="eventoTipoCodigo" type='hidden' value='<%= @eventoTipoCodigo %>' />
<% f.errores %>
<div class="row">      
  <div class="small-6 columns">
    <span class='prefix postfix'>Empresa</span>
    <span class='prefix postfix noborder'><%= @rga_registro.empresa.nombre %></span>
  </div>
  
  <div class="small-6 columns">
    <span class='prefix postfix'>Establecimiento</span>
    <span class='prefix postfix noborder'><%= @rga_registro.establecimiento.nombre %></span>
  </div>
  
  <div class="small-3 columns">
    <%= f.date_select :fecha %>
  </div>

  <div class="small-6 columns">
   <%= f.select :evento_id,  Rga::Evento.all.includes(:eventotipo).
    map {|c| [c.nombre, c.id, {data: {codigo: c.eventotipo.codigo}}]}, {:selected => @rga_registro.evento_id}, {label: "Evento", class: "actualizaDisponible" } %>
  </div>
 
  <div class="small-3 columns">
    <%= f.text_area :desc, :label => "Descripción" %>
  </div>
 

  <div id="origrodeo" class="small-3 columns">
    <%= f.collection_select :origrodeo_id, Rga::Rodeo.all, :id, :nombre, {}, {label:"Rodeo Origen"} %>
  </div>
  <div id="origcategoria" class="small-3 columns">
    <%= f.collection_select :origcategoria_id, Rga::Categoria.all, :id, :nombre, {}, {label:"Categoria Origen"} %>
  </div>
  
  <div id="origestado" class="small-3 columns">
    <%= f.collection_select :origestado_id, Rga::Estado.all, :id, :nombre, {}, {label:"Estado Origen", class:"actualizaDisponible"} %>
  </div>
  <div id="divDisponibles" class="small-3 columns">
    <span class='prefix postfix'>Disponibles</span>
    <span id='disponibles' class='prefix postfix noborder'></span>
  </div>
  <div id="destrodeo" class="small-3 columns">
    <%= f.collection_select :destrodeo_id, Rga::Rodeo.all, :id, :nombre, {}, {label:"Rodeo Destino"} %>
  </div>
  
  <div id="destcategoria" class="small-3 columns">
  <%= f.collection_select :destcategoria_id, Rga::Categoria.all, :id, :nombre, {}, {label:"Categoria Destino"} %>
  </div>
  
  <div id="destestado" class="small-3 columns">
    <%= f.collection_select :destestado_id, Rga::Estado.all, :id, :nombre, {}, {label:"Estado Destino"} %>
  </div>
  
  <div id="divCantidad" class="small-3 columns">
    <%= f.number_field :cantidad %>
  </div>
  
  <div id="divPeso"class="small-3 columns">
    <%= f.text_field :peso %>
  </div>
  
      
</div>