<%= hidden_field_tag 'filtro_desde', @desde %>
<%= hidden_field_tag 'filtro_hasta', @hasta %>

<h1>PLANILLA DE HACIENDA (<%= @desde %> hasta <%= @hasta %> )</h1>
<div class="row">
	<div class="small-12 large-12 columns">
		<div class="panel">
			<table class="notDT">
				<tr>
				 <th>CATEGORIA</th>
					<th>EI</th>
					<th>NAC</th>
					<th>REC</th>
					<th>TR+</th>
					<th>RE+</th>
					<th>CC+</th>
					<th class="neg">MOR</th>
					<th class="neg">DES</th>
					<th class="neg">TR-</th>
					<th class="neg">RE-</th>
					<th class="neg">CC-</th>
					<th>EF</th>
				</tr>
			 	<%if @categorias %>
				 	<% @categorias.each do |cat| %>    
						<tr>

							<td style="text-align:left"><%= cat.nombre %></td>  
							<td><%= @categorias_inicio[:existencia_x_categorias][cat.id].presence || 0 %></td>
							<td><%= @regx_categoria["E - " + cat.id.to_s + " - NACO"] %></td>
							<td><%= @regx_categoria["E - " + cat.id.to_s + " - RECN"] %></td>
							<td><%= @regx_categoria["E - " + cat.id.to_s + " - RTIO"] %></td>  
							<td><%= @regx_categoria["E - " + cat.id.to_s + " - RPOO"] %></td>  
							<td><%= @regx_categoria["E - " + cat.id.to_s + " - CCAA"] %></td>  
							<td class="neg"><%= @regx_categoria["S - " + cat.id.to_s + " - MUEE"] %></td>
							<td class="neg"><%= @regx_categoria["S - " + cat.id.to_s + " - DEPO"] %></td>
							<td class="neg"><%= @regx_categoria["S - " + cat.id.to_s + " - DTIO"] %></td>
							<td class="neg"><%= @regx_categoria["S - " + cat.id.to_s + " - RNEO"] %></td>  
							<td class="neg"><%= @regx_categoria["S - " + cat.id.to_s + " - CCAA"] %></td>  
							<td><%= @categorias_fin[:existencia_x_categorias][cat.id].presence || 0 %></td>  
						</tr>
					<% end %>
				<% end %>
		</table>
	</div>

<H1> DETALLE DE MOVIMIENTOS </H1>
	<table class="notDT">
		<tr>
		 	<th>FECHA</th>
			<th>EVENTO</th>
			<th>CAT ORIGEN</th>
			<th>CAT DESTION</th>
			<th>CANTIDAD</th>
			<th>DESC</th>
		</tr>
		<% @rga_registros.each do |reg| %>
			<tr>
				<td><%= reg.fecha.strftime('%d/%m/%Y') %></td>
				<td><%= reg.evento.nombre rescue nil || '---'%></td>
				<td><%= reg.origcategoria.nombre rescue nil || '---'%></td>
				<td><%= reg.destcategoria.nombre rescue nil || '---'%></td>
				<td><%= reg.cantidad %></td>
				<td><%= reg.desc %></td>
			</tr>
		<% end %>
		</table>

</div>
</div>
</div>