<input id="esForm" type="hidden" value=true />
  <div class="row">
   <div class="panel">
    <%= form_tag actualizar_multiples_rco_registros_path, method: :put do %>
      <% @rco_registros.each do |rco_registro| %>

        <div class="row">
        <h3>Empresa: <%= rco_registro.id %></h3>
          <div class="panel">
            <%= fields_for "rco_registros[]", rco_registro, builder: EstandarFormBuilder do |f| %>
            <%= render 'form_fields', f:f %>
            <% end %>
          </div>
        </div>
    <% end %>
    <div class="row">
      <div class="small-12 columns">
      <input id="nodo" name="nodo" type="hidden" value=<%= @nodo %> /> 
        <%= submit_tag "Actualizar", :class => 'button tiny boton_largo' %>
      </div>
    </div>
    <% end %>
  </div>
</div>