<% f.errores %>
<div class="row">     
  <div class="small-3 columns">
    <%= f.text_field :codigo %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :nombre %>
  </div>
  <div class="small-3 columns">
    <%= f.collection_select :catfiscal_id, Rba::Catfiscal.all, :id, :nombre, label: 'Categoria Fiscal' %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :cuit, label: 'C.U.I.T', data: {inputmask: "'mask': '99-99999999-9'" } %>
  </div>
  <div class="small-3 columns">
    <%= f.collection_select :empresagrupo_id, Rba::Empresagrupo.all, :id, :nombre, label: 'Grupo' %>
  </div>
</div>
<br>
