<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @agenda.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @agenda.telefono %>
</p>

<%= link_to 'Editar', edit_agenda_path(@agenda), :class => "button tiny" %>
<%= link_to 'Volver', agendas_path, :class => "button tiny" %>
