<%= f.errores %>
<div class="row">      
  <div class="small-3 columns">
    <%= f.date_select :fecha %>
  </div>
  <div class="small-3 columns">
    <%= f.select :operaciontipo_id, Rad::Operaciontipo.where(:estado => 1).
    map {|c| [c.nombre, c.id, {data: {codigo: c.codigo}}]}, {:selected => @operacionTipoDefault}, {label: "Op. Tipo"} %>
	</div>
  <div class="small-3 columns">
    <%= f.text_field :importe, class: "calcCuota" %>
  </div>
  <div class="small-1 columns">
    <%= f.number_field :cuotas, class: "calcCuota" %>
  </div>
  <div class="small-2 columns">
    <%= f.text_field :cuotaimporte, {label: "Valor Cuota", class: "calcCuotaInv", :tabindex => -1} %>
  </div>
  <div class="small-3 columns">
  <%= f.collection_select :ctaD_id, Rco::Cuenta.xTipos([5.0], @e_grupo_actual).includes(:cuentatipo).order('rco_cuentatipos.codigo asc'),
		:id, :nombre, {}, {label: "Cuenta Debe"} %>
	</div>
  <div class="small-3 columns">
  <%= f.collection_select :ctaH_id, Rco::Cuenta.xTipos([1.1,2.2], @e_grupo_actual).includes(:cuentatipo).order('rco_cuentatipos.codigo asc'),
		:id, :nombre, {}, {label: "Cuenta Haber"} %>
	</div>
  <div class="small-3 columns">
    <%= f.text_area :desc %>
  </div>
      <div class="small-1 columns">
    <%= f.check_box :rdosxmes, {label: "Rmes"} %>
  </div>
</div>