<%= f.errores %>
<div class="row">      
  <div class="small-2 columns">
    <%= f.date_select :fecha %>
  </div>
  <div class="small-3 columns">
    <%= f.select :operaciontipo_id, Rad::Operaciontipo.where(:estado => 1).
    map {|c| [c.nombre, c.id, {data: {codigo: c.codigo}}]}, {:selected => @rad_operacion.operaciontipo_id}, {label: "Op. Tipo"} %>
	</div>
  <div class="small-1 columns" style="float:left">
    <span class='prefix postfix'></span>
    <h4 style='widht:100%;text-align:center'> 
      <%= agregar_linea_en_operacion "D", f, :operacionregistros, "debe" %>
      <%= agregar_linea_en_operacion "H", f, :operacionregistros, "haber" %>
    </h4>
  </div>
</div>
<div class="row">
<div class="small-6 columns" id="compatibles">
</div>

<div class="small-6 columns" id="compatiblesImporte">
</div></div>
  <%= f.fields_for :operacionregistros do |builder| %>
    <%= render 'operacionregistros_campos', f: builder %>
  <% end %>

  <div id="container" class="ContainerDebe">
  </div>
  <div id="container" class="ContainerHaber">
  </div>
<div class="row">
  <div class="small-1 columns">
    <%= f.check_box :rdosxmes, {label: "Rmes"} %>
  </div>
  <div class="small-1 columns">
    <%= f.number_field :cuotas, class: "calcularValores" %>
  </div>
  <div class="small-2 columns">
    <%= f.text_field :cuotaimporte, {label: "Valor Cuota", class: "calcularValores", :tabindex => -1} %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :importe, class: "calcularValores" %>
  </div>
  
  <div class="small-12 columns">
    <%= f.text_area :desc %>
  </div>
</div>