<input id="esForm" type="hidden" value=true />
<div class="row">
  <div class="panel">
    <%= form_tag actualizar_multiples_rad_operaciontipos_path, method: :put do %>
    <% @rad_operaciontipos.each do |rad_operaciontipo| %>

    <div class="row">
    <h3>Grupo: <%= rad_operaciontipo.nombre.upcase %></h3>
<div class="panel">
<%= fields_for "rad_operaciontipos[]", rad_operaciontipo, builder: EstandarFormBuilder do |f| %>
<%= render 'form_fields', f:f %>
<% end %>
</div>
</div>
<% end %>
<div class="row">
<div class="small-12 columns">
      <input id="nodo" name="nodo" type="hidden" value=<%= @nodo %> /> 

<%= submit_tag "Actualizar", :class => 'button tiny boton_largo' %>
</div>
</div>
<% end %>
</div>
</div>