<% f.errores %>
<div class="row">      
  <div class="small-3 columns">
   <%= f.check_box :estado, label: "Activo?" %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :codigo %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :nombre %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :desc %>
  </div>
  <div class="small-3 columns">
    <%= f.text_field :pesopromedio, label: "Peso Promedio" %>
  </div>

  <div class="small-3 columns">
    <%= f.collection_select :categoriatipo_id, Rga::Categoriatipo.all, :id, :nombre, {}, {label: "Tipo"} %>
  </div>
      
</div>