<li class="has-dropdown">
	<a>General</a>
	<ul class="dropdown">
		<li>
			<ul>
				<li class="menu_label"><label>CARGAR</label></li>					
				<li><a>Operaciones</a></li>
				<li><%= link_to 'Asientos', rco_asientos_path %> </li>
				<li><a>Cierre de tarjetas</a></li>
			</ul>
			<ul>
				<li class="menu_label"><label>ANALIZAR</label></li>			
				<li><a>Operaciones</a></li>
				<li><a>EE.RR.</a></li>
				<li><a>Flujo de fondos</a></li>
			</ul>
			<ul>
				<li class="menu_label"><label>CONFIGURAR</label></li>
				<li><%= link_to 'Cuentas', rco_cuentas_path %></li>
				<li><%= link_to 'Tipos de cuentas', rco_cuentatipos_path %></li>
				<li><%= link_to 'Empresa', rba_empresas_path %></li>
				<li><%= link_to 'Empresagrupos', rba_empresagrupos_path %></li>
				<li><%= link_to 'Categorias Fiscales', rba_catfiscales_path %></li>
				<li><%= link_to 'Cotizaciones', rco_cotizaciones_path %></li>
				<li><%= link_to 'Monedas', rco_monedas_path %></li>
				<li><%= link_to 'Arboles', rba_arboles_path %></li>
				<li><%= link_to 'Nodos', rba_nodos_path %></li>




			</ul>
		</li>
	</ul>
</li>