<li class="has-dropdown">
	<a>GANADERÍA</a>

	<ul class="dropdown">
		<li>
			<ul>
				<li class="menu_label"><label>CARGAR</label></li>					
				<li><%= link_to 'REGISTOS', rga_registros_path%></li>
			</ul>
			<ul>
				<li class="menu_label"><label>ANALIZAR</label></li>		
				<li><a>MOVIMIENTOS</a></li>			
				<li><a>EXISTENCIAS</a></li>			
			</ul>
			<ul>
				<li class="menu_label"><label>CONFIGURAR</label></li>
				<li><%= link_to 'CATEGORÍAS', rga_categorias_path%></li>			
				<li><%= link_to 'RODEOS', rga_rodeos_path%></li>			
				<li><%= link_to 'ESTADOS', rga_estados_path%></li>			
				<li><%= link_to 'EVENTOS', rga_eventos_path%></li>
				<li><%= link_to 'TIPOS DE CATEGORÍAS', rga_categoriatipos_path%></li>			
				<li><%= link_to 'TIPOS DE EVENTOS', rga_eventotipos_path%></li>	

			</ul>
		</li>
	</ul>
</li>