<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @rba_lote.estado %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @rba_lote.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @rba_lote.nombre %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @rba_lote.desc %>
</p>

<p>
  <strong>Establecimiento:</strong>
  <%= @rba_lote.establecimiento %>
</p>

<%= link_to 'Editar', edit_rba_lote_path(@rba_lote), :class => "button tiny" %>
<%= link_to 'Volver', rba_lotes_path, :class => "button tiny" %>
