<input id="esForm" type="hidden" value=true />
<div class="row">
  <div class="panel">
    <%= form_for(@prueba) do |f| %>
    <% if @prueba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prueba.errors.count, "error") %> prohibited this prueba from being saved:</h2>

      <ul>
        <% @prueba.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row collapse">
                  <div class="small-3 columns">
        <span class="prefix postfix">
         nombre
        </span>
        <%= f.text_field :nombre %>
      </div>
                        <div class="small-3 columns">
        <span class="prefix postfix">
         apellido
        </span>
        <%= f.text_field :apellido %>
      </div>
                        <div class="small-3 columns">
        <span class="prefix postfix">
         telefono
        </span>
        <%= f.text_field :telefono %>
      </div>
                </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.submit "Guardar", :class => "button tiny", :style => "width:100%" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
