<div class="row">
  <div class="panel">
    <%= form_for(@prueba) do |f| %>
    <% if @prueba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prueba.errors.count, "error") %> prohibited this prueba from being saved:</h2>

      <ul>
        <% @prueba.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

            <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">
          <%= f.label :nombre %>
        </span>
      </div>
      <div class="small-9 columns">

        <%= f.text_field :nombre %>
              </div>
    </div>
            <div class="row collapse">
      <div class="small-3 columns">
        <span class="prefix">
          <%= f.label :apellido %>
        </span>
      </div>
      <div class="small-9 columns">

        <%= f.text_field :apellido %>
              </div>
    </div>
        <div class="actions">
      <%= f.submit :class => "button tiny", :style => "width:100%" %>
    </div>
    <% end %>
  </div>
</div>
