<h1>Listing pruebas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pruebas.each do |prueba| %>
      <tr>
        <td><%= prueba.nombre %></td>
        <td><%= prueba.apellido %></td>
        <td><%= link_to 'Show', prueba %></td>
        <td><%= link_to 'Edit', edit_prueba_path(prueba) %></td>
        <td><%= link_to 'Destroy', prueba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prueba', new_prueba_path %>
