<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @prueba.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @prueba.apellido %>
</p>

<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
