<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @prueba.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @prueba.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @prueba.telefono %>
</p>

<%= link_to 'Editar', edit_prueba_path(@prueba), :class => "button tiny" %>
<%= link_to 'Volver', pruebas_path, :class => "button tiny" %>
