<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @rb_usuario.usuario %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @rb_usuario.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @rb_usuario.apellido %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @rb_usuario.mail %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @rb_usuario.password_digest %>
</p>

<%= link_to 'Edit', edit_rb_usuario_path(@rb_usuario) %> |
<%= link_to 'Back', rb_usuarios_path %>
