<input id="esForm" type="hidden" value=true />
  <div class="row">
   <div class="panel">
    <%= form_tag actualizar_multiples_rba_organizaciontipos_path, method: :put do %>
      <% @rba_organizaciontipos.each do |rba_organizaciontipo| %>

        <div class="row">
        <h3>Empresa: <%= rba_organizaciontipo.nombre.upcase %></h3>
          <div class="panel">
            <%= fields_for "rba_organizaciontipos[]", rba_organizaciontipo, builder: EstandarFormBuilder do |f| %>
            <%= render 'form_fields', f:f %>
            <% end %>
          </div>
        </div>
    <% end %>
    <div class="row">
      <div class="small-12 columns">
            <input id="nodo" name="nodo" type="hidden" value=<%= @nodo %> /> 

        <%= submit_tag "Actualizar", :class => 'button tiny boton_largo' %>
      </div>
    </div>
    <% end %>
  </div>
</div>