<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title><%= content_for?(:title) ? yield(:title) : "Root's" %></title>
		<!-- Variables global para acceder desde js 
		controller_name, conroller_path, action_name, root_path -->

		<%= render "layouts/globals/var" %>

		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "vendor/modernizr" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag params[:controller] %>

		<%= csrf_meta_tags %>
		
	</head>

	<body>
		
	<!-- El if es para que en la pantalla de inicio no muestre el menu -->
		<% unless controller_name == "bienvenidos" %>
			<%= render "layouts/globals/cargando" %>
			<%= render "layouts/globals/menu" %>
			<%= render "layouts/globals/modal_importar" %>
			<%= render "layouts/globals/filtro" %>

		<% end %>
		<div id='info'>
		<% if notice %>	
			<%= render "layouts/globals/notice" %>
		<% end %>
		</div>
		
		<%= yield %>
	</body>
</html>
